:root {
  --type-1-font-family: "Inter", Helvetica;
  --type-1-font-weight: 500;
  --type-1-font-size: 21.559999465942383px;
  --type-1-letter-spacing: -1.840000033378601px;
  --type-1-line-height: 43.70000076293945px;
  --type-1-font-style: normal;
  --joinhandshake-com-semantic-button-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-button-font-weight: 500;
  --joinhandshake-com-semantic-button-font-size: 15.375px;
  --joinhandshake-com-semantic-button-letter-spacing: 0px;
  --joinhandshake-com-semantic-button-line-height: 25.600000381469727px;
  --joinhandshake-com-semantic-button-font-style: normal;
  --joinhandshake-com-semantic-heading-1-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-heading-1-font-weight: 600;
  --joinhandshake-com-semantic-heading-1-font-size: 157.8359375px;
  --joinhandshake-com-semantic-heading-1-letter-spacing: -3.4049999713897705px;
  --joinhandshake-com-semantic-heading-1-line-height: 192.9499969482422px;
  --joinhandshake-com-semantic-heading-1-font-style: normal;
  --joinhandshake-com-semantic-heading-2-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-heading-2-font-weight: 500;
  --joinhandshake-com-semantic-heading-2-font-size: 44.5625px;
  --joinhandshake-com-semantic-heading-2-letter-spacing: -1.840000033378601px;
  --joinhandshake-com-semantic-heading-2-line-height: 43.70000076293945px;
  --joinhandshake-com-semantic-heading-2-font-style: normal;
  --joinhandshake-com-semantic-input-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-input-font-weight: 400;
  --joinhandshake-com-semantic-input-font-size: 14.75px;
  --joinhandshake-com-semantic-input-letter-spacing: 0px;
  --joinhandshake-com-semantic-input-line-height: normal;
  --joinhandshake-com-semantic-input-font-style: normal;
  --joinhandshake-com-semantic-item-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-item-font-weight: 400;
  --joinhandshake-com-semantic-item-font-size: 12px;
  --joinhandshake-com-semantic-item-letter-spacing: -0.18000000715255737px;
  --joinhandshake-com-semantic-item-line-height: 16.799999237060547px;
  --joinhandshake-com-semantic-item-font-style: normal;
  --joinhandshake-com-semantic-link-font-family: "Inter", Helvetica;
  --joinhandshake-com-semantic-link-font-weight: 500;
  --joinhandshake-com-semantic-link-font-size: 15.25px;
  --joinhandshake-com-semantic-link-letter-spacing: -0.23999999463558197px;
  --joinhandshake-com-semantic-link-line-height: 17.600000381469727px;
  --joinhandshake-com-semantic-link-font-style: normal;
  --joinhandshake-com-inter-regular-font-family: "Inter", Helvetica;
  --joinhandshake-com-inter-regular-font-weight: 400;
  --joinhandshake-com-inter-regular-font-size: 14px;
  --joinhandshake-com-inter-regular-letter-spacing: -0.20999999344348907px;
  --joinhandshake-com-inter-regular-line-height: 19.600000381469727px;
  --joinhandshake-com-inter-regular-font-style: normal;
  --joinhandshake-com-inter-regular-underline-font-family: "Inter", Helvetica;
  --joinhandshake-com-inter-regular-underline-font-weight: 400;
  --joinhandshake-com-inter-regular-underline-font-size: 11.25px;
  --joinhandshake-com-inter-regular-underline-letter-spacing: -0.11999999731779099px;
  --joinhandshake-com-inter-regular-underline-line-height: 14.399999618530273px;
  --joinhandshake-com-inter-regular-underline-font-style: normal;
  --joinhandshake-com-inter-medium-font-family: "Inter", Helvetica;
  --joinhandshake-com-inter-medium-font-weight: 500;
  --joinhandshake-com-inter-medium-font-size: 30.5px;
  --joinhandshake-com-inter-medium-letter-spacing: -0.9599999785423279px;
  --joinhandshake-com-inter-medium-line-height: 35.20000076293945px;
  --joinhandshake-com-inter-medium-font-style: normal;
  --joinhandshake-com-inter-semi-bold-font-family: "Inter", Helvetica;
  --joinhandshake-com-inter-semi-bold-font-weight: 600;
  --joinhandshake-com-inter-semi-bold-font-size: 17.4375px;
  --joinhandshake-com-inter-semi-bold-letter-spacing: -0.18000000715255737px;
  --joinhandshake-com-inter-semi-bold-line-height: 18px;
  --joinhandshake-com-inter-semi-bold-font-style: normal;
}
